:host {
  display: flex;
}

.mensaje {
  text-align: center;
  /*text-transform: uppercase;*/
}

.icon-mensaje {
  float: right;
  font-size: 1.5em;
}

.mensaje-ok {
  color: green;
}

.mensaje-nook {
  color: red;
}

.mensaje-info {
  color: yellow;
}