/*** COLOR SECUNDARIO: #a9d035 ***/

.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  background-color: #00a650 !important;
  margin: 8px;
}

.logo {
  margin-bottom: 10px;
  max-width: 100px;
}

.boton-nuevo-ticket{
  float:right;
  position: relative;
}

.img-espera {
  display: block;
  margin: 0 auto;
}

.mat-mdc-raised-button{
  background-color: aqua;
}

.boton-derecha{
  float: right;
  z-index: 1000;
}

.tab-group{
  width: 100%;
}