/*** COLOR SECUNDARIO: #a9d035 ***/

.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  background-color: #00a650 !important;
  margin: 8px;
  width: 100%;
}

.boton-menu {
  float: right;
}

.logo {
  margin-bottom: 10px;
  max-width: 100px;
}

.boton-nuevo-ticket{
  float:right;
  position: relative;
}

.span-usuario{
  float: left;
  font-style: italic;
  margin: 12px;
}

.img-espera {
  display: block;
  margin: 0 auto;
}

.mat-mdc-raised-button{
  background-color: aqua;
}

.boton-derecha{
  float: right;
  margin: 5px; 
  z-index: 1000;
}

.tab-group{
  width: 100%;
}

/*.mat-mdc-dialog-container .mdc-dialog__surface {
  overflow: hidden !important;
}*/