<mat-drawer-container class="example-container" autosize>
    <p class="subtitulo" #goUp><mat-icon class="mat-icon-subtitulo">badge</mat-icon>Datos personales</p>
    <div class="form-container">
        <div class="form-group">
            <h3 class="input-datos">Nombre</h3>
            <br />
            <mat-form-field appearance="fill">
                <input type="text" placeholder="Nombre" aria-label="Nombre" matInput
                    [(ngModel)]="empleadoLogueado.nombreEmpleado">
            </mat-form-field>
        </div>
        <div class="form-group">
            <h3 class="input-datos">Apellido</h3>
            <br />
            <mat-form-field class="input-empresa" appearance="fill">
                <input type="text" placeholder="Apellido" aria-label="Apellido" matInput
                    [(ngModel)]="empleadoLogueado.apellidoEmpleado">
            </mat-form-field>
        </div>
        <div class="form-group">
            <h3 class="input-datos">DNI</h3>
            <br />
            <mat-form-field class="input-empresa" appearance="fill">
                <input type="text" placeholder="DNI" aria-label="DNI" matInput
                    [(ngModel)]="empleadoLogueado.dniEmpleado">
            </mat-form-field>
        </div>
        <div class="form-group">
            <h3 class="input-datos">Teléfono</h3>
            <br />
            <mat-form-field class="input-empresa" appearance="fill">
                <input type="text" placeholder="Telédono" aria-label="Telédono" matInput
                    [(ngModel)]="empleadoLogueado.telefonoEmpleado">
            </mat-form-field>
        </div>
        <div class="form-group">
            <h3 class="input-datos">Usuario</h3>
            <br />
            <mat-form-field class="input-empresa" appearance="fill">
                <input type="text" placeholder="Usuario" aria-label="Usuario" matInput disabled="disabled"
                    [(ngModel)]="empleadoLogueado.usuarioEmpleado">
            </mat-form-field>
        </div>
        <div class="form-group">
            <h3 class="input-datos">Contraseña</h3>
            <br />
            <button mat-raised-button (click)="cambiarContrasenia()" color="accent">Cambiar</button>
        </div>
    </div>
    <div class="div-botones-derecha">
        <button mat-raised-button (click)="cancelar()">Cancelar</button>
        <button mat-raised-button (click)="actualizar()" color="primary">Actualizar</button>
    </div>
</mat-drawer-container>