<div #imprimible class="ticket-dialog">
  <p class="ticket-numero">Generar ticket</p>
  <mat-card class="ticket-card">
    <mat-card-header>
      <mat-card-title>Cliente: {{data.nombreCliente}}</mat-card-title>
      <mat-card-subtitle>Documento: {{data.dniCliente}}</mat-card-subtitle>
      <mat-card-subtitle>Teléfono: {{data.telefonoCliente}}</mat-card-subtitle>
      <mat-card-subtitle>Fecha de ticket: {{getFechaActual()}}</mat-card-subtitle>
      <mat-card-subtitle class="ticket-mensaje" style="text-align: left;">A partir de la fecha de generado el ticket, tendrá 7 días corridos para cobrarlo.</mat-card-subtitle>
      <mat-card-subtitle *ngIf="data.checkPedido" class="ticket-mensaje">Requiere flete</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Materiales:</p>
      <mat-selection-list>
        <mat-list-item *ngFor="let material of data.listaMateriales">
          {{material.idMaterial}} - {{material.nombreMaterial}}: {{material.weight + material.tipoMedidaMaterial}}
        </mat-list-item>
      </mat-selection-list>
    </mat-card-content>
    <div>
      <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="resultOK" style="float:right">Enviar</button>
      <button mat-button (click)="imprimir()" style="float:right">Imprimir</button>
    </div>
  </mat-card>
</div>

