@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

h1{
    background-color: #00a650;
    color: white !important;
    font-family: 'Archivo Narrow', sans-serif !important;
}

.table-lista-tickets {
    width: 50%;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 12px;
    width: 100%;
}

td,
th {
    width: 25%;
    height: 20px;
}
.mat-mdc-row:hover {
    background-color: lightgray !important;
    cursor: pointer;
}

.mat-mdc-dialog-content {
    max-height: 500px;
}

.grid-materiales {
    top: 0;
    position: absolute;
}

.div-lista-tickets {
    float: left;
    width: 100%;
}

.boton-derecha{
  float: right;
  margin: 5px; 
  z-index: 1000;
}

.th-lista {
    background-color: #a9d035 !important;
}


@media only screen and (max-width: 850px) {
    .div-lista-tickets {
        width: 100%;
        clear: both;
    }
    td, th {
        font-size: 0.7em;
    }
}